@model PatientDetails.Models.Patient

<h2>Patient Details</h2>

<p><b>Name:</b> @Model.Name</p>
<p><b>Age:</b> @Model.Age</p>
<p><b>Disease:</b> @Model.Disease</p>

<a class="btn btn-secondary" asp-action="Index">Back</a>